<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registry Participant</title>
  </head>
  <body>
    <div
      class="container"
      style="
        text-align: center;
        background-color: #ffffff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        max-width: 400px;
      "
    >
      <div
        class="icon"
        style="font-size: 50px; color: #007bff; margin-bottom: 20px"
      >
        🎉
      </div>
      <h1
        th:text="'¡Felicitaciones ' + ${name} + ' por unirte!'"
        style="font-size: 24px; color: #333333; margin-bottom: 20px"
      >
        [MENSAJE_DE_BIENVENIDA]
      </h1>
      <p
        style="
          font-size: 16px;
          color: #555555;
          line-height: 1.6;
          margin-bottom: 10px;
        "
      >
        Te has registrado con éxito para nuestro evento de
        <span class="highlight" style="font-weight: bold; color: #007bff"
          >Intercambio de Regalos</span
        >. ¡Prepárate para difundir alegría y conectarte con otros en esta
        emocionante celebración!
      </p>
      <p
        style="
          font-size: 16px;
          color: #555555;
          line-height: 1.6;
          margin-bottom: 10px;
        "
      >
        Mantente atento para más detalles sobre tu pareja y la próxima línea de
        tiempo del evento.
      </p>
      <p
        style="
          font-size: 16px;
          color: #555555;
          line-height: 1.6;
          margin-bottom: 10px;
        "
      >
        ¡Estamos encantados de tenerte a bordo!
      </p>
    </div>
  </body>
</html>
